@model CitiesViewModel;
@{
    ViewData["Title"] = "Cities";
    var addCityInputModel = new AddCityInputModel();    // Create an emtpy input-model for use in the partial view AddCity
}
        <p></p>
        <partial name="AddCityPartial" model="addCityInputModel" />
        <p></p>

        <div class="container my-container">
            <div class="row">
                <div class="col-lg-12">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="tableHeader row">
                <div class="col-lg-1">Nr.</div>
                <div class="col-lg-2">Name:</div>
                <div class="col-lg-2">Country:</div>
                <div class="col-lg-6">People:</div>
                <div class="col-lg-1">&nbsp;</div>
            </div>
@{
        string rowclass;

        int count = Model.Cities.Count;
        for (int i = 0; i < count; i++)
        {
            var item = Model.Cities[i];

            int rowClassIndex = (i % 2);
            rowclass = Model.TableRowClasses[rowClassIndex];
            <div class="@rowclass row">
                <div class="col-lg-1">@(i + 1)</div>
                <div class="col-lg-2">@item.Name</div>
                <div class="col-lg-2">@item.Country.Name</div>
                <div class="col-lg-6">@item.PeopleString</div>
                <div class="col-lg-1">
                    <a href="/Cities/DeleteCity?id=@item.Id">Delete</a>
                </div>
            </div> 
        }
}
            <div class="tableFooter row">
                <div class="col-lg-10">&nbsp;</div>
                <div class="col-lg-2">@count item(s)</div>
            </div>
        </div>

